$primary: #F8C000;
$secondary: #43B3BE;
$text: #495867;
$textGray: #9B9B9B;
$lightYellow: #FFFAE8;
$lightGreen: #CDEBED;
$lightGreenText: #87CDDD;
$veryLightGreen: #F5FBFC;
$error: #FF6B6B;
$errorOpacity: #FF6B6B1A;
$greenBlue: #2FA3D5;
$disabledBackground: #F2F2F2;
$disabledText: #BDBDBD;